{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Credenciais</title>
    {% load static %}
</head>
<body>
    {% block title %}Gerenciar Credenciais{% endblock %}
    {% block content %}
    <div class="form-container">
        <div class="title-form-container">
            <img src="{% static 'icons/user-credential.png' %}" alt="User Credential" class="form-icon">
            <h2>Gerenciar Credenciais do Associado</h2>
        </div>

        <form method="post" class="user-form readonly-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" value="{{ associado.codigo_associado }}" required {% if not allow_edition %}readonly{% endif %}>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ associado.email }}" required {% if not allow_edition %}readonly{% endif %}>
            </div>

            <div class="form-group">
                <label for="first_name">Responsável</label>
                <input type="text" id="first_name" name="first_name" value="{{ associado.nome_responsavel }}" required {% if not allow_edition %}readonly{% endif %}>
            </div>

            <div class="form-group">
                <label for="last_name">Aluno</label>
                <input type="text" id="last_name" name="last_name" value="{{ associado.aluno }}" required {% if not allow_edition %}readonly{% endif %}>
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Deixe em branco para não alterar">
            </div>

            <div class="form-group">
                <label for="group">Grupo de Acesso</label>
                <select id="group" name="group" required {% if not allow_edition %}disabled{% endif %} required>
                    {% for group in groups|slice:":-1" %}
                    <option value="{{ group.id }}" {% if group.id == user_group_id %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="action-buttons">
                <button type="submit" class="save-button">Salvar</button>
                <a href="{% url 'home' %}" class="cancel-button">Cancelar</a>
            </div>

        </form>
    </div>
    {% endblock %}
</body>
</html>