{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">    

    <head>
        <meta charset="UTF-8">
        <title>Paraninfo</title>
        {% load static %}
        
    </head>

    <body>
        {% block title %}Login{% endblock %}
        {% block content %}
        <div class="login-container">
            
            <h2>Autenticação de usuário</h2>
            
            <form method="post" class="login-form">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="login-custom-message">
                        Dados inválidos. Verifique usuário e senha!
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="login-form">
                        {{ field.label_tag }}
                        {{ field }}                
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}

                <button type="submit" class="login-button">Log in</button>
            </form>
            
            <a href="{% url 'password_reset' %}" class="forgot-button">Esqueci minha senha</a>
        </div>

        {% endblock %}
    </body>
</html>
