{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">    

    <head>
        <meta charset="UTF-8">
        <title>Paraninfo</title>
        {% load static %}
        
    </head>

    <body>
        {% block title %}Login{% endblock %}
        {% block content %}
        <div class="login-container">
            
            <h2>Autenticação de usuário</h2>
            
            {% if messages %}
            <div class="login-messages">
                {% for message in messages %}
                <div class="login-alert {% if message.tags %}alert-{{ message.tags }}{% endif %} login-custom-message">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" class="login-form">
                {% csrf_token %}

                <div >
                    <!-- Mensagem de erro de autenticação -->
                    {{ form.as_p }} 
                </div>
                
                <button type="submit" class="login-button">Log in</button>
                
            </form>
            
            <a href="{% url 'password_reset' %}" class="forgot-button">Esqueci minha senha</a>
        </div>
        {% endblock %}
    </body>
</html>
