{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">    

    <head>
        <meta charset="UTF-8">
        <title>Paraninfo</title>
        {% load static %}
        
    </head>

    <body>
        
        {% block content %}
            {% block title %}Login{% endblock %}
            
            <div class="form-container">
                <h2 class="form-title">Senha redefinida com sucesso</h2>
                <p>Agora você pode fazer login com sua nova senha.</p>
                <a href="{% url 'login' %}" class="generic-button">Ir para a página de login</a>
            </div>
        {% endblock %}

    </body>
</html>