{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">    

    <head>
        <meta charset="UTF-8">
        <title>Paraninfo</title>
        {% load static %}
        
    </head>

    <body>
        
        {% block content %}
            {% block title %}Login{% endblock %}
            
            <div class="form-container">
                <h2 class="form-title">Redefinir senha</h2>
                <form method="post" class="user-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="generic-button">Redefinir senha</button>
                </form>
            </div>
        {% endblock %}

    </body>
</html>