{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">    

    <head>
        <meta charset="UTF-8">
        <title>Paraninfo</title>
        {% load static %}
        
    </head>

    <body>
        
        {% block content %}
            {% block title %}Login{% endblock %}
            
            <div class="form-container">
                <h2 class="form-title">Solicitação enviada</h2>
                <p>Se o e-mail informado estiver cadastrado, você receberá um link para redefinir sua senha.</p>
            </div>
        {% endblock %}

    </body>
</html>