<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Paraninfo{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'responsive_frame.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'title.css' %}">
    <link rel="stylesheet" href="{% static 'menu_main.css' %}">
    <link rel="stylesheet" href="{% static 'menu_user.css' %}">
    <link rel="stylesheet" href="{% static 'menu_side.css' %}">
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'table_big_list.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'balance.css' %}">
    <link rel="stylesheet" href="{% static 'hourglass.css' %}">
    <link rel="stylesheet" href="{% static 'extrato_detail.css' %}">
    <link rel="stylesheet" href="{% static 'popup_message.css' %}">
    
    
    <link rel="icon" href="{% static 'capello.svg' %}" type="image/x-icon">

    <script src="{% static 'menu_main.js' %}" defer></script>
    <script src="{% static 'menu_user.js' %}" defer></script>
    <!-- <script src="{% static 'js/menu_side.js' %}" defer></script> -->
    <script src="{% static 'popup_message.js' %}" defer></script>
    <script src="{% static 'util.js' %}" defer></script>
</head>

<body>
    <!-- <div class="container-main"> -->
    <div class="page">

        <!-- Cabeçalho -->
        <!-- <div class="header-main"> -->
        <div class="head">
            {% include 'partials/header.html' %}
        </div>
    
        <!-- Corpo principal -->
        <!-- <div class="main-body-main"> -->
        {% if user.is_authenticated %}
            <main class="body">
        {% else %}
            <main>
        {% endif %}

            {% if user.is_authenticated %}
                <!-- Menu lateral -->
                <div class="page-menu" >
                    <div id="sidebar" class="sidebar expanded" >
                        {% include 'partials/menu_side.html' %}
                    </div>
                </div>
            {% endif %}

            <!-- Corpo da página -->
            <!-- <div class="body-main"> -->
            <div class="page-space">
                {% block content %}
                {% endblock %}
            </div>
            
        </main>
    
        <!-- Rodapé -->
        <!-- <div class="footer-main"> -->
        <div class="foot">
            {% include 'partials/footer.html' %}
        </div>
    </div>
</body>
</html>