<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Paraninfo{% endblock %}</title>
        
        <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/title.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu_user.css' %}">
        <link rel="stylesheet" href="{% static 'css/menu_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/table_big_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/balance.css' %}">

        <script src="{% static 'js/menu_main.js' %}" defer></script>
        <script src="{% static 'js/menu_user.js' %}" defer></script>
    </head>
    <body>
        {% include 'partials/header.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include 'partials/footer.html' %}
    </body>
</html>