{% load static %}
<!-- <header class="header"> -->
<header class="head">
    <!-- Coluna 1: Logo  -->
    <!-- <div class="menu-logo-container"> -->
    <div class="main-menu card">
        <div class="menu-logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'paraninfo.svg' %}" alt="Logo">
            </a>
        </div>

        <!-- Coluna 2: Menu Sanduíche e Botão Home -->
        <div class="menu-home-container">
            <div class="menu">
                <button class="menu-button" onclick="toggleMenu_main()">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                {% include 'partials/menu_main.html' %}
            </div>

            <!-- Botão Home ao lado do menu sanduíche -->
            <div class="home-button">
                <a href="{% url 'home' %}">
                    <img src="{% static 'home-icon.png' %}" alt="Home" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
    </div>
    <div class="title card">
        <!-- Coluna 3: Título da Página -->
        <div class="app-title-container">
            
            <!-- Title in red for development environment -->
            <div class="{% if DEVELOPMENT_ENVIRONMENT %}app-title-dev{% else %}app-title{% endif %}">
                Paraninfo!
            </div>
            
            <div class=""app-subtitle">
                {% if request.comissao_title %}
                    <p>{{ request.comissao_title }}</p>
                {% else %}
                    <p>"O melhor amigo da sua comissão de formatura!"</p>
                {% endif %}
                
            </div>
        </div>
    </div>  

    <div class="user card">
        <!-- Coluna 4: Imagem com Link para Login -->
        {% if user.is_authenticated %}
            <div class="menu-user-container">
                <img src="{% static 'user_on.png' %}" alt="Login" class="menu-user-button" style="width: 30px; height: 30px; cursor: pointer;" onclick="toggleMenu_user()">
                {{ request.session.apelido }}
                {% include 'partials/menu_user.html' %}
            </div>
            
        {% else %}
            <div class="menu-user-container">
                <a href="{% url 'login' %}" class="login">
                    <img src="{% static 'user_off.png' %}" alt="Login" class="menu-user-button" style="width: 30px; height: 30px; cursor: pointer;">
                    Login
                </a>
            </div>
        {% endif %}
    </div>
</header>

<!-- inclui ampulheta -->
{% include 'partials/hourglass.html' %}