{% extends 'base.html' %}

{% block title %}Carrega extrato{% endblock %}
{% load static %}

{% block content %}

        <!-- Conteúdo principal -->
        <div class="main-content">
        
            <h2>{{ message.title }}</h2>

            <div class="user-form">
                {% if message.text %}
                    {% include 'partials/popup_message.html' with message=message %}

                {% elif is_dataframe_empty and file %}
                    <div class="alert">
                        Nenhum dado encontrado no arquivo.
                    </div>
                {% endif %}
            </div>
            
            <!-- Entrada de arquivo com extrato .xls -->
            {% if is_dataframe_empty %}
                <div >
                    <form method="post" enctype="multipart/form-data" id="formExtrato">
                        {% csrf_token %}

                        <!-- popup list com a lista de bancos -->
                         <div class="menu-user-container">
                            <div class="menu-home-container">
                                <label for="banco">Banco:</label>
                                <input type="text" id="banco" name="banco" disabled value="{{ nome_banco }}">
                            </div>
                            
                            <div class="menu-home-container">
                                <span id="file-name" >Selecione o extrato bancário</span>
                                <label for="file">
                                    <img src="{% static 'open.png' %}" alt="Selecionar arquivo" class="upload-icon">
                                </label>
                                <input type="file" id="file" name="file" accept=".xls,.xlsx,.txt" class="hide-input">
                            </div>
                        </div>
                        
                        <!-- <button type="button" class="generic-button" onclick="submitEnviarExtrato()">Enviar</button> -->
                    </form>
                </div>

            <!-- Tabela com extrato -->
            {% else %}

                <form method="post" action="{% url 'aceitar_extrato' %}" id="formEntrada">
                    <input type="hidden" name="linhasAceitas" id="linhasAceitas" value="">
                    {% csrf_token %}
                
                    <h3>Extrato conta corrente: "{{ file_name }}"</h3>

                    <table border="1" class="table_big_list">
                        <thead>
                            <tr>
                                {% for column in dataframe.columns %}
                                <th>{{ column }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in dataframe.values %}
                            <!-- <tr onclick="submitExtratoForm({{ row.id }})" style="cursor: pointer;">
                                <form method="post" action="{% url 'edit_extrato' %}" id="form-{{ linha.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="extrato_id" value="{{ linha.id }}">
                                </form> -->

                                {% for cell in row %}
                                <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            {% endif %}

        </div>

    <script>
        document.getElementById('file').addEventListener('click', 
            function() {
                // Exibe a ampulheta antes de ler o arquivo
                showLoadingOverlay();
        });

        document.getElementById('file').addEventListener('cancel', 
            function() {
                // Exibe a ampulheta antes de cancelar o arquivo
                hideLoadingOverlay();
        });

        document.getElementById('file').addEventListener('change', 
            function() {
                // Função para manipular a seleção do arquivo
                hideLoadingOverlay();

                if (this.files.length > 0 ) {
                    console.log('1');
                    const fileName = this.files[0].name;
                    document.getElementById('file-name').textContent = fileName;
                    submitEnviarExtrato();
                    
                } else {
                    console.log('2');
                    const fileName = 'Nenhum arquivo selecionado';
                    document.getElementById('file-name').textContent = fileName;
                }
                
            }
        );
        
        function submitEntradaForm() {
            // Exibe a ampulheta antes de enviar o formulário
            showLoadingOverlay();

            // Verifica se o formulário de importação existe e o envia
            const entradaForm = document.getElementById('formEntrada');
            if (entradaForm) {
                entradaForm.submit(); // Envia o formulário de importacao.html
            } else {
                console.error('Formulário de entrada não encontrado.');
            }
        }

    
        function submitEnviarExtrato() {
            // Exibe a ampulheta antes de enviar o formulário
            showLoadingOverlay();

            // Verifica se o formulário de importação existe e o envia
            const formExtrato = document.getElementById('formExtrato');
            if (formExtrato) {
                formExtrato.submit(); // Envia o formulário de importacao.html
            } else {
                console.error('Formulário Extrato não encontrado.');
            }


        }

    </script>
{% endblock %}
